@model Film
@{
    ViewData["Title"] = "Detail";
}
@if (Model == null)
{
    <h2>NOT FOUND DUMMY!</h2>

}
else
{
    <h2>@Model.Name</h2>
    <img id="moviePoster" src="@Model.ImageUrl" />
    <table>
        <tbody>
            <tr>
                <td>Name:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Year:</td>
                <td>@Model.YearReleased</td>
            </tr>
            <tr>
                <td>Length:</td>
                <td>@Model.Length</td>
            </tr>
            <tr>
                <td></td>
                <td>@Model.Description</td>
            </tr>
        </tbody>
    </table>
}

@section sidebar
{
    <div>
        <h3>Did you know...</h3>
        <p>
            Sound designer Ben Burtt developed the lightsaber sound by using a combination of a 35mm movie projector
            and the sound caused when a microphone cable is passed by a television set.
        </p>
    </div>
}

