@model ShoppingCart
@{
    ViewData["Title"] = "ViewCart";
}

<h2>View Cart</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Item</td>
            <td class="right-justified">Price</td>
            <td class="right-justified">Qty</td>
            <td class="right-justified">Ext Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ShoppingCartItem item in Model.Items)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td class="right-justified">@($"{item.Product.Cost:C}")</td>
                <td class="right-justified">@item.Quantity</td>
                <td class="right-justified">@($"{item.Product.Cost * item.Quantity:C}")</td>
            </tr>
        }
        <tr class="total">
            <td></td>
            <td></td>
            <td></td>
            <td class="right-justified">@Model.GrandTotal.ToString("C")</td>
        </tr>
    </tbody>
</table>

